In [8]:
import pandas as pd

In [13]:
!pwd

/home/jovyan/snowmelt-timing/contributors/lila

In [14]:
filename = "../../modis/mesa_west.csv"

In [16]:
mesa_west=pd.read_csv(filename)
mesa_west

     Unnamed: 0        [x]
0    2019-12-01  1,006.336
1    2019-12-02  1,108.766
2    2019-12-03  1,144.204
3    2019-12-04  1,085.745
4    2019-12-05          0
..          ...        ...
177  2020-05-26          0
178  2020-05-27          0
179  2020-05-28          0
180  2020-05-29          0
181  2020-05-30          0

[182 rows x 2 columns]